<footer id="footer">
	<section class="copyright">Copyright &copy; 2013 - {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>. All rights federal reserved.</section>
	<!-- <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section> -->
	{{> social}}
</footer>
