<section id="social">
    <a target="_blank" href="https://www.linkedin.com/in/kirylpl"><span class="ion-social-linkedin"></span></a>

    <a target="_blank" href="https://twitter.com/kirylpl"><span class="ion-social-twitter"></span></a>
    <a target="_blank" href="https://www.goodreads.com/user/show/21997448-kiryl-ply"><span class="ion-ios-book-outline"></span></a>

    <a target="_blank" href="https://instagram.com/kirylpl"><span class="ion-social-instagram"></span></a>
</section>
